div {
  padding: 3px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Button */
.btn {
  margin: 3px;
  padding: 0px;
}

.btn:last-child {
  margin: 0;
}

.btn-add {
  margin: 5px;
  padding: 3px 10px 3px 10px ; /* Top Right Bottom Left */
  border: 1px solid #99c1fc;
  background-color: #cfe2ff;
  border-radius: 5px;
}


/* Input */
.task-input {
  outline: none;
  border-bottom: 3px solid #cfe2ff;
  border-left: none;
  border-right: none;
  border-top: none;
}

.task-input:focus {
  outline: none;
  border-bottom: 3px solid #cfe2ff;
  border-left: none;
  border-right: none;
  border-top: none;
  transition: 0.5s;
  padding-top: 35px;
}

/* toggle */
.toggle-container {
  width: 110px;
  height: 25px;
  border: 1px solid #909090; 
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  z-index: 100; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  box-sizing: border-box;
}

/* Toggle circle */
.toggle-circle {
  width: 55px;
  height: 22px;
  border: 1px solid #909090; 
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  position: absolute;
  top: 1px;
  left: 1px;
  transition: left 0.3s ease-in-out, background-color 0.3s ease-in-out;
  z-index: 101; 
}

/* Text for °F and °C */
.toggle-text-left, .toggle-text-right {
  color: #909090;
  font-size: 12px;
  z-index: 100; /* 서클 뒤에 텍스트가 위치하도록 z-index 설정 */
}

.toggle-text-left {
  position: absolute;
  left: 10px;
}

.toggle-text-right {
  position: absolute;
  right: 10px;
}

/* Toggle active 상태 */
.toggle-container.toggled .toggle-circle {
  left: 52px; /* 토글 서클이 오른쪽 끝으로 이동하도록 설정 */
}


/* 배지 */


/* 삭제 배지 초기 상태 */
.delete-badge {
  display: none;
  position: absolute;
  top: -5px;
  right: -5px;
  cursor: pointer;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px;
  font-size: 12px;
}

.city-button-container {
  position: relative;
  display: inline-block;
  margin: 5px;
}
